.ChatMessage {
  padding: 16px;
  border: 1px solid #e0e5e7;
  border-radius: 4px;
  align-self: flex-start;
  max-width: 420px;
  background-color: #fff;
}

.ChatMessage + .ChatMessage {
  margin-top: 16px;
}

.ChatMessage__Author,
.ChatMessage__DateTime {
  color: #b2bcc2;
  font-size: 14px;
}
